.dashboad-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: 0.8rem;
}

.dashboad-header h2 {
  font-size: 1.5;
}

.user-avatar {
  max-width: 5rem;
  max-height: 5rem;
  border-radius: 50%;
}
.coach-avatar {
  border-radius: 50%;
  width: 4.5rem;
  position: relative;
  bottom: 40px;
}

.card-info .subsection {
  position: absolute;
}

.info {
  margin-top: -30px;
  width: 100%;
}

.details {
  display: flex;
  gap: 2rem;
}
