.page-content {
  padding: 2rem;
  max-width: 1000px;
  margin: 0 auto;
}

.page-title {
  font-size: 2rem;
  text-align: left;
  margin: 1rem;
  background: linear-gradient(
    118deg,
    #0019fe -40.67%,
    #5275f0 41.48%,
    #fff 83.59%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.list-container {
  background-color: #101010;
  padding: 1rem;
  border-radius: 20px;
  margin: 1rem 0;
}

.list-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.list-container-title {
  text-align: left;
  margin: 1rem;
}

.training-card {
  padding: 1rem;
  border-radius: 1rem;
  background: #1d1e21;
}

/* SINGLE BOOKING CARD  */

.booking-card {
  border-radius: 4rem;
  background: #1d1e21;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 0.5rem 0.3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.booking-card img {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
}

.booking-card-name {
  font-weight: bold;
  font-size: 0.8rem;
}
.booking-card-info {
  width: 60%;
  text-align: left;
  font-size: 0.5rem;
}

.calendar-icon {
  margin-right: 0.3rem;
}

.booking-card button {
  width: 80%;
  padding: 0.1rem;
  background-color: #3c3c3c;
  margin-top: 0.3rem;
}
